
/* BEGIN Hairline */
@font-face {
  font-family: "Lato";
  src: url("/fonts/lato/LatoLatin-Hairline.eot?v=1.0.0");
  src: url("/fonts/lato/LatoLatin-Hairline.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("/fonts/lato/LatoLatin-Hairline.woff2?v=1.0.0") format("woff2"), url("/fonts/lato/LatoLatin-Hairline.woff?v=1.0.0") format("woff"), url("/fonts/lato/LatoLatin-Hairline.ttf?v=1.0.0") format("truetype"), url("/fonts/lato/LatoLatin-Hairline.svg?v=1.0.0#LatoHairline") format("svg");
  font-weight: 100;
  font-style: normal; }
/* END Hairline */
/* BEGIN Hairline Italic */
@font-face {
  font-family: "Lato";
  src: url("/fonts/lato/LatoLatin-HairlineItalic.eot?v=1.0.0");
  src: url("/fonts/lato/LatoLatin-HairlineItalic.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("/fonts/lato/LatoLatin-HairlineItalic.woff2?v=1.0.0") format("woff2"), url("/fonts/lato/LatoLatin-HairlineItalic.woff?v=1.0.0") format("woff"), url("/fonts/lato/LatoLatin-HairlineItalic.ttf?v=1.0.0") format("truetype"), url("/fonts/lato/LatoLatin-HairlineItalic.svg?v=1.0.0#LatoHairlineItalic") format("svg");
  font-weight: 100;
  font-style: italic; }
/* END Hairline Italic */
/* BEGIN Light */
@font-face {
  font-family: "Lato";
  src: url("/fonts/lato/LatoLatin-Light.eot?v=1.0.0");
  src: url("/fonts/lato/LatoLatin-Light.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("/fonts/lato/LatoLatin-Light.woff2?v=1.0.0") format("woff2"), url("/fonts/lato/LatoLatin-Light.woff?v=1.0.0") format("woff"), url("/fonts/lato/LatoLatin-Light.ttf?v=1.0.0") format("truetype"), url("/fonts/lato/LatoLatin-Light.svg?v=1.0.0#LatoLight") format("svg");
  font-weight: 300;
  font-style: normal; }
/* END Light */
/* BEGIN Light Italic */
@font-face {
  font-family: "Lato";
  src: url("/fonts/lato/LatoLatin-LightItalic.eot?v=1.0.0");
  src: url("/fonts/lato/LatoLatin-LightItalic.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("/fonts/lato/LatoLatin-LightItalic.woff2?v=1.0.0") format("woff2"), url("/fonts/lato/LatoLatin-LightItalic.woff?v=1.0.0") format("woff"), url("/fonts/lato/LatoLatin-LightItalic.ttf?v=1.0.0") format("truetype"), url("/fonts/lato/LatoLatin-LightItalic.svg?v=1.0.0#LatoLightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }
/* END Light Italic */
/* BEGIN Regular */
@font-face {
  font-family: "Lato";
  src: url("/fonts/lato/LatoLatin-Regular.eot?v=1.0.0");
  src: url("/fonts/lato/LatoLatin-Regular.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("/fonts/lato/LatoLatin-Regular.woff2?v=1.0.0") format("woff2"), url("/fonts/lato/LatoLatin-Regular.woff?v=1.0.0") format("woff"), url("/fonts/lato/LatoLatin-Regular.ttf?v=1.0.0") format("truetype"), url("/fonts/lato/LatoLatin-Regular.svg?v=1.0.0#LatoRegular") format("svg");
  font-weight: 400;
  font-style: normal; }
/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: "Lato";
  src: url("/fonts/lato/LatoLatin-Italic.eot?v=1.0.0");
  src: url("/fonts/lato/LatoLatin-Italic.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("/fonts/lato/LatoLatin-Italic.woff2?v=1.0.0") format("woff2"), url("/fonts/lato/LatoLatin-Italic.woff?v=1.0.0") format("woff"), url("/fonts/lato/LatoLatin-Italic.ttf?v=1.0.0") format("truetype"), url("/fonts/lato/LatoLatin-Italic.svg?v=1.0.0#LatoItalic") format("svg");
  font-weight: 400;
  font-style: italic; }
/* END Italic */
/* BEGIN Bold */
@font-face {
  font-family: "Lato";
  src: url("/fonts/lato/LatoLatin-Bold.eot?v=1.0.0");
  src: url("/fonts/lato/LatoLatin-Bold.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("/fonts/lato/LatoLatin-Bold.woff2?v=1.0.0") format("woff2"), url("/fonts/lato/LatoLatin-Bold.woff?v=1.0.0") format("woff"), url("/fonts/lato/LatoLatin-Bold.ttf?v=1.0.0") format("truetype"), url("/fonts/lato/LatoLatin-Bold.svg?v=1.0.0#LatoBold") format("svg");
  font-weight: 700;
  font-style: normal; }
/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: "Lato";
  src: url("/fonts/lato/LatoLatin-BoldItalic.eot?v=1.0.0");
  src: url("/fonts/lato/LatoLatin-BoldItalic.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("/fonts/lato/LatoLatin-BoldItalic.woff2?v=1.0.0") format("woff2"), url("/fonts/lato/LatoLatin-BoldItalic.woff?v=1.0.0") format("woff"), url("/fonts/lato/LatoLatin-BoldItalic.ttf?v=1.0.0") format("truetype"), url("/fonts/lato/LatoLatin-BoldItalic.svg?v=1.0.0#LatoBoldItalic") format("svg");
  font-weight: 700;
  font-style: italic; }
/* END Bold Italic */
/* BEGIN Black */
@font-face {
  font-family: "Lato";
  src: url("/fonts/lato/LatoLatin-Black.eot?v=1.0.0");
  src: url("/fonts/lato/LatoLatin-Black.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("/fonts/lato/LatoLatin-Black.woff2?v=1.0.0") format("woff2"), url("/fonts/lato/LatoLatin-Black.woff?v=1.0.0") format("woff"), url("/fonts/lato/LatoLatin-Black.ttf?v=1.0.0") format("truetype"), url("/fonts/lato/LatoLatin-Black.svg?v=1.0.0#LatoBlack") format("svg");
  font-weight: 900;
  font-style: normal; }
/* END Black */
/* BEGIN Black Italic */
@font-face {
  font-family: "Lato";
  src: url("/fonts/lato/LatoLatin-BlackItalic.eot?v=1.0.0");
  src: url("/fonts/lato/LatoLatin-BlackItalic.eot?#iefix&v=1.0.0") format("embedded-opentype"), url("/fonts/lato/LatoLatin-BlackItalic.woff2?v=1.0.0") format("woff2"), url("/fonts/lato/LatoLatin-BlackItalic.woff?v=1.0.0") format("woff"), url("/fonts/lato/LatoLatin-BlackItalic.ttf?v=1.0.0") format("truetype"), url("/fonts/lato/LatoLatin-BlackItalic.svg?v=1.0.0#LatoBlackItalic") format("svg");
  font-weight: 900;
  font-style: italic; }
/* END Black Italic */

/*# sourceMappingURL=lato.css.map */
